Global Styles * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #acd9d1; /* Soft green background for the entire body */
}

/* Navbar Styles */
.nav-link {
    transition: all 0.2s; /* Smooth transition for hover effects */
}
.nav-link:hover {
    color: #acd9d1; /* Hover color for nav links, ensure visibility against background */
}

/* Main content top margin */
.main {
    margin-top: 130px;
}

/* Navbar Buttons */
#but {
    background-color: #acd9d1; /* Match navbar background */
    width: 110px;
    border-radius: 20px;
    text-align: center;
}
#but:hover {
    color: white;
}

#but1 {
    background-color: #ffffff; /* White background for contrast */
    color: #000000; /* Black text color for readability */
    border: 3px solid #acd9d1; /* Styling border to match the theme */
    border-radius: 12px;
    width: 200px; /* Slightly wider button for better visibility */
    text-align: center;
    transition: all 0.3s; /* Transition for smooth hover effect */
}

#but1:hover {
    background-color: #acd9d1; /* Background color on hover */
    color: #ffffff; /* Text color on hover */
}

/* footer style */
/* footer */
.footer {
    padding-top: 100px;
}
.footer-bttn a {
    text-decoration: none;
}
