.main {
  background-color: var(--background-color) !important;
}

/* main section style */
#text0 {
  font-weight: 700;
  margin-bottom: 30px;
  justify-content: center;
}
.service-container .card {
  background-image: url("../img/back.jpg");
  background-position: right;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 30px;
}
.service-container .card-title {
  font-weight: bold;
  font-size: 26px; /* Increased font size */
  margin-bottom: 10px;
}
.service-container .card-img {
  border-radius: 15px;
  width: 100%;
  height: auto;
  margin: 15px 0;
  justify-content: center;
}
.service-container .card-text {
  font-size: 20px; /* Increased font size */
  line-height: 1.6;
  margin-bottom: 20px;
}
.service-container .btn {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #acd9d1;
  color: #000000;
  border-radius: 20px;
  cursor: pointer;
  font-size: 22px; /* Increased font size */
  font-weight: 600;
}

@media (min-width: 767px) {
  .container-fluid {
    justify-content: center;
  }
  .service-container .card {
    width: 75%;
  }
}
