.upload-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 150px;
    color: #ffffff;
    background: white;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 30px;
    max-width: 500px;
    margin: auto;
    text-align: center;
}

.upload-container h2 {
    color: #acd9d1;
    font-size: 24px;
    margin-bottom: 10px;
}

.upload-container p {
    color: #666;
    font-size: 16px;
    margin-bottom: 20px;
}

.upload-container #drop-area {
    width: 100%;
    height: 300px;
    padding: 30px;
    background: #ffffff;
    text-align: center;
    border-radius: 20px;
    border: 2px dashed #acd9d1;
    cursor: pointer;
    transition: border-color 0.3s;
}

.upload-container #drop-area:hover {
    border-color: #0056b3;
}

.upload-container #img-view {
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-position: center;
    background-size: cover;
}

.upload-container #img-view img {
    width: 100px;
    margin-top: 25px;
    margin-bottom: 15px;
}

.upload-container #img-view p {
    display: block;
    font-size: 18px;
    font-weight: normal;
    color: #333;
}

.upload-container #check-button {
    width: 80%; /* Make the button wider */
    max-width: 300px; /* Maximum width */
    padding: 15px 20px; /* Larger padding for better touch interaction */
    background-color: #acd9d1;
    color: white;
    font-size: 18px;
    font-weight: bold;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin: 20px auto; /* Center the button */
    transition: background-color 0.3s;
}

.upload-container #check-button:hover {
    background-color: black;
}
.main{
    background-color:var(--background-color) !important ;
}