* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #acd9d1;
  }
  /* navbar style */
  
  #but1 {
    border: 3px solid #acd9d1;
    border-radius: 12px;
    width: 200px;
    text-align: center;
  }
  .nav-link {
    transition: all 0.2s;
  }
  .nav-link:hover {
    color: #acd9d1;
  }
  
  /* main section style */
  #text0 {
    padding-top: 160px;
    font-size: xx-large;
  }
  .img-fluid {
    width: 600px;
  }
  #text1 {
    text-align: start;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin-left: 20px;
    margin-right: 20px;
  }
  #news {
    padding-top: 90px;
  }
  #text2 {
    background-color: white;
    color: #acd9d1;
    text-align: center;
    height: 55px;
  }
  .container3 {
    padding-top: 120px;
  }
  .card {
    --bs-card-border-color: #acd9d1;
    --bs-card-border-width: 4px;
  }
  #news-card {
    width: 400px;
  }
  #size {
    border-width: 90px;
    border-radius: 100px;
  }
  #ccc {
    color: #acd9d1;
  }
  #font {
    font-size: large;
  }
  #newsbttn {
    text-align: center;
    color: black;
  }
  /* footer style */
  #footerr {
    background-color: #e7e5e5;
    padding-left: 80px;
    max-width: 100%;
  }
  #ff:hover {
    padding-left: 8px;
    color: #acd9d1;
  }
  
  /* review style */
  #reviews {
    background-color: white;
  }
  #review-text {
    border-radius: 12px;
  }
  #review-text h3 {
    color: #acd9d1;
    background-color: white;
  
    border-radius: 12px;
  }
  .rev-butt {
    justify-content: center;
    display: flex;
    padding-top: 50px;
  }
  .rev-butt a {
    text-decoration: none;
    color: white;
    border: 3px solid white;
    border-radius: 12px;
    width: 600px;
    font-size: x-large;
    font-weight: 500;
    text-align: center;
  }
  .rev-butt a:hover {
    color: black;
  }
  